{% extends "::base.html.twig" %}
{% block body %}
  <!-- <div id="app"> -->
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container" ><a id="logo-container" href="#" class="brand-logo" data-activates="slide-out">Learning Game(s)</a>
    </div>
  </nav>

  <div class="section">
    <div class="container">
      {% if user.username is defined and not null %}
      <div class="row">
        <div class="col s6"  id="app">
          <h4>Indicateurs</h4>
          <p v-if="">Progression du score</p>
          <div class="progress">
            <div class="determinate" v-bind:style="{width: perScore+'%'}"></div>
          </div>
          <p v-if="">Survivants</p>
          <div class="progress">
            <div class="determinate" v-bind:style="{width: perAlive+'%'}"></div>
          </div>
          <h4>Parameters</h4>

          <label for="freq">Frequence ${ game_param.freq }</label>
          <p class="range-field">
            <input type="range" id="freq" min="1" max="30" v-model="game_param.freq"/>
          </p>
          <label for="hpipe">Pipe Height ${ game_param.pipeHoll }</label>
          <p class="range-field">
            <input type="range" id="hpipe" min="100" max="200"  v-model="game_param.pipeHoll"/>
          </p>
          <label for="hpipe">Pipe Speed ${ game_param.pipeSpeed }</label>
          <p class="range-field">
            <input type="range" id="hpipe" min="1" max="6"  v-model="game_param.pipeSpeed"/>
          </p>
          <p>
            <input class="with-gap" name="group3" type="radio" id="vitesse1" onclick="speed(60)" checked />
            <label for="vitesse1">x1</label>
            <input class="with-gap" name="group3" type="radio" id="vitesse2" onclick="speed(120)"/>
            <label for="vitesse2">x2</label>
            <input class="with-gap" name="group3" type="radio" id="vitesse3" onclick="speed(180)"/>
            <label for="vitesse3">x3</label>
            <input class="with-gap" name="group3" type="radio" id="vitesse4" onclick="speed(300)"/>
            <label for="vitesse4">x5</label>
            <input class="with-gap" name="group3" type="radio" id="vitesse5" onclick="speed(0)"/>
            <label for="vitesse5">Max</label>
          </p>
          <chart-item></chart-item>
          <chart-param></chart-param>
          <div class="btn"> Save Training </div>

        </div>
        <div class="col s6">
          <h2>Flappy Bird(s)</h2>
          <div class="responsive-img">
            <canvas id="flappy" width="400" height="412"></canvas>
          </div>
          <p>De génération en génération la famille Bird lutte sans répit pour explorer son monde !!!!</p>

        </div>
      </div>
      <div class="row">
        <div class="col s6">
        </div>
        <div class="col s6">

        </div>
        </div>
      </div>
    </div>

{% else %}
<h1 class="header center deep-orange-text">Learning Game(s)</h1>
<div class="row center">
  <h5 class="header col s12 light">Play for learning !!! </h5>
</div>
<br><br>
<div class="row center">
  <a href="{{ path('fos_user_security_login')}}" class="waves-effect waves-light yellow darken-2 btn"><i class="material-icons right">power_settings_new</i>Sign in</a>
  <a href="{{ path('fos_user_registration_register')}}" class="waves-effect waves-light deep-orange darken-2 btn"><i class="material-icons right">input</i>Sign up</a>
</div>
</div>
</div>
{% endif %}
{% endblock %}
