<ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="http://www.starwallpapers.com/walls/fox_animal_minimalism_hd_wallpaper-wide.jpg" class="responsive-img">
      </div>
      <br>
      <br>
      <a href="#!name"><span class="white-text name">{{ user.username }}</span></a>
      <br>
      <!-- <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
    </div></li>
    <li><a href=""><i class="material-icons">library_add</i>Add a new FlappyBot</a></li>
    <li><a class="subheader">Vos familles</a></li>
    <li><a href=""><span class="elo badge">1250 elo</span>LesDurands</a></li>
    <li><a href=""><span class="elo badge">1307 elo</span>LesBernards</a></li>
    <li><a href="{{ path('fos_user_security_logout')}}" class="black-text"><i class="material-icons">power_settings_new</i>Logout</a></li>

    <li><div class="divider"></div></li>
  </ul>
